repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix]
        exclude: ^old_versions/
      - id: ruff-format
        exclude: ^old_versions/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - types-beautifulsoup4
        args: [--config-file=pyproject.toml]
        # only check yosoi files
        files: ^(yosoi/.*\.py$)

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.0
    hooks:
      - id: uv-lock

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: ["-c", "pyproject.toml", "-v"]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.12.1
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.6
    hooks:
      - id: commitizen
        stages: [commit-msg]
